:root {
  --gray100:#f2f2f2;
  --gray200:#d9d9d9;
  --gray300:#808080;
  --gray400:#333;
  --gray500:#262626;
  --gray600:#1A1A1A;
  --gray700:#0D0D0D;
  --purple:#8284FA;
  --purpleDark:#5E60CE;
  --blue:#4EA8DE;
  --blueDark:#1E6F9F;
  --danger:#E25858;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 16px "Poppins", Arial, sans-serif;
  color: var(--gray200);
  width: 100%;
  height: 100vh;
  background:var(--gray600) ;
}



input, textarea {
  font-family: "Poppins";
}


button, .checkmark {
  cursor: pointer;
}